@font-face {
    font-family: 'OdinFont';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: sans-serif;
}

html {
    height: 100vh;
}

input, label {
    display: block;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 2px;
    width: 200px;
    font-size: 100%;
    font-weight: 400;
}

input:user-invalid {
    border: 1px solid red;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 4px 4px 4px lightgrey;
}

label {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.03rem;
    font-weight: 550;
}

.main-container {
    display: flex;
    background-color: white;
    align-items: center;
    width: 100vw;
}

.left-contents {
    width: 40vw;
    height: 100vh;
    background-image: url("images/green-foliage-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.odin-banner {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 200px;
    width: 100%;
    height: 120px;
    padding: 10px;
}

.odin-logo {
    height: 100px;
}

.odin-text {
    font-family: "OdinFont";
    font-size: 6rem;
    position: relative;
    top: 10px;
}

.emptycontents {
    height: 100%;
}

.left-contents > footer {
    color: white;
    margin-bottom: 10px;
    opacity: 75%;
    font-size: 12px;
}

.right-contents {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 30px;
    flex: 1;
}

p {
    max-width: 66ch;
}

.top-text {
    font-weight: 600;
    font-size: 1.2rem;
}

form {
    box-shadow: 0px -1px 3px lightgrey, 3px 5px 5px lightgrey;
    margin-left: -40px;
    padding: 40px;
}

.left {
    padding: 20px 0px;
    display: flex;
    gap: 20px;
}


button {
    background-color: #596D48;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 6px;
    font-weight: 600;
    max-width: max-content;
}

p {
    font-size: 14px;
}

a {
    color: #596D48;
    font-weight: 600;
    text-decoration: none;
}

